#general, Output Directories
build/
dist/
target/
/.temp
/tmp

#eclipse
#see https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore
.metadata
.settings/
.classpath
.project
.loadpath
*.launch

# IntelliJ Idea
# see https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
.idea/
*.iml
out/

# VS Code
.vscode

# node und npm
node_modules
.npm
npm-debug.log

# External tool builders #
.externalToolBuilders/

#Mac Os
#see https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Windows
#see https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# Misc #
*~

/.factorypath
